/*ABOUT PAGE STYLES - START*/

/* Styling for the layout container of the about page */
.layouts_aboutLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
    max-width: 1200px;
}

/* Styling for the wrapper of the team section */
.team_sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    height: 100%;
    width: 100%;
}

/* Styling for headings within the about information section */
.about_information_section h1 {
    text-align: center;
    margin-bottom: 20px;
}

.about_information_section h2 {
    text-align: center;
    margin-bottom: 15px;
}

/* Styling for the wrapper of each executor */
.executor_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    filter: drop-shadow(0.35rem 0.35rem 0.8rem rgba(255, 87, 51, 0.5));
}

/* Styling for the container of the executor's avatar */
.executor_avatar_container {
    width: 100%;
    height: 200px;
    border-radius: 0 200px 200px 0;
    background-color: rgba(255, 87, 51, 0.1);
    overflow: hidden;
}

/* Styling for the executor's avatar image */
.executor_avatar_container img {
    height: 100%;
}

/* Styling for the description of the executor */
.executor_description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Styling for the name of the executor */
.executor_description .executor_name {
    font-size: 25px;
    font-weight: 800;
}

/* Styling for the story of the executor */
.executor_description .executor_story {
    font-size: 18px;
}

/* Styling for reversing the avatar container and image alignment */
.reverse .executor_avatar_container {
    border-radius: 200px 0 0 200px;
}

.reverse .executor_avatar_container img {
    margin-left: auto;
}

/* Media query for larger screens */
@media only screen and (min-width: 60em) {
    .layouts_aboutLayout .team_sectionWrapper .executor_wrapper {
        flex-direction: row;
        gap: 70px;
    }

    .layouts_aboutLayout .team_sectionWrapper .executor_avatar_container {
        width: 50%;
    }

    .layouts_aboutLayout .team_sectionWrapper .executor_description {
        width: 50%;
    }

    .layouts_aboutLayout .team_sectionWrapper .reverse {
        flex-direction: row-reverse;
    }
}

/*ABOUT PAGE STYLES - END*/
