/* Styling for burger button icon */
.burger_button {
    display: block;
    width: 20px;
    height: 12px;
    background: none;
    position: relative;
    padding: 0;
    transition: 200ms;
}

/* Styling for lines in burger button icon */
.burger_button .menu_line {
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 2px solid;
    border-color: var(--black);
    transition: 200ms, border-color 0ms;
    display: block;
}

/* Adjust line color for dark theme */
.burger_button .menu_line:is([data-theme=dark] *) {
    border-color: var(--white);
}

/* Position lines in burger button icon */
.burger_button .menu_line:nth-child(1) {
    top: 0;
}

.burger_button .menu_line:nth-child(2) {
    top: 50%;
}

.burger_button .menu_line:nth-child(3) {
    top: 100%;
}

/* Animate menu lines for closed menu */
.menu_closed .menu_line:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

.menu_closed .menu_line:nth-child(2) {
    display: none;
}

.menu_closed .menu_line:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}


/* Styling for primary button */
.primary_button {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 15px 20px;
    position: relative;
    border-radius: .5rem;
    border-width: 1px;
    border-color: rgba(255, 87, 51, .3);
    background-color: rgba(255, 87, 51, .1);
    min-width: 160px;
    font-size: 19px;
    line-height: 1.75rem;
    font-weight: 900;
    filter: drop-shadow(0.35rem 0.35rem 0.8rem rgba(255, 87, 51, 0.5));
}

/* Create gradient effect for primary button */
.primary_button:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(8em circle at 50% 10px, var(--blood_red), transparent 30%);
    opacity: .3;
}

/* Styling for secondary button */
.secondary_button {
    color: inherit;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(255, 87, 51, 0.5);
    border-radius: 50px;
    transition: background-color 100ms;
}

/* Hover effect for the action secondary button */
@media (hover: hover) {
    .secondary_button:hover {
        background-color: var(--light_blue);
        color: var(--black);
    }
}

/* Styling for the active state of the action secondary button */
.secondary_button:active {
    background-color: var(--light_blue);
    transform: translateY(2px) translateX(2px);
    color: var(--black);
}
