/*FOOTER STYLES - START*/

/* Styling for the footer container */
.footer_container {
    background-color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 4rem;
    flex-shrink: 0;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: rgb(233 237 240);
    padding: 1rem;
    gap: 15px;
}

/* Styling for the container holding footer links */
.footer_container .footer_links_container {
    display: flex;
    gap: 20px;
}

/* Styling for buttons within the footer links container */
.footer_container .footer_links_container button {
    background: none;
    font-size: 16px;
}

/* Hover effect for buttons in the footer links container */
@media (hover: hover) {
    .footer_container .footer_links_container button:hover {
        color: var(--blue);
        transition: color 200ms;
    }
}

/* Active state styling for buttons in the footer links container */
.footer_container .footer_links_container button:active {
    color: var(--blue);
}

/* Styling for the copyright text */
.footer_container .footer_copyright {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Styling for the container holding footer icons */
.footer_container .footer_icons_container {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Dark theme styling for the footer container */
.footer_container:is([data-theme=dark] *) {
    background-color: var(--black);
}

/* Media query for adjusting layout on larger screens */
@media only screen and (min-width: 60em) {
    .footer_container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;
    }
}

/*FOOTER STYLES - END*/
